*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties

marginsdk/src/androidTest/assets/test*

retailapp/release/*
retailapp/debug/*
app/release/*
app/debug/*
pos-integration/release/*
pos-integration/debug/*
